// COLORS
$primary-color:#fd746c;
$secondary-color: #ff9068;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fdfff0;

$dark-grey: #333333;

$dark-blue-text: #4c4d49; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
